{% block academics %}
 <form class="frm hide">
          <div class="frmlabels"> Academics details </div>
<div class="qualigrid">
  <div class="form-container frmqua">
  <div class="frmitem" >
  <label >Qualification</label>
  <input type="text" placeholder="Enter Qualification" class="input" name="qualix1" />
  </div>
  </div>
  <div class="form-container frmins">
  <div class="frmitem" >
  <label >Institution</label>
  <input type="text" placeholder="Enter Institution name" class="input" name="instix1" />
  </div>
  </div>
  <div class="form-container frmyr">
  <div class="frmitem" >
  <label >Year Obtained</label>
  <input placeholder="Enter year" type="text" class="input" name="yobtx1" />
  </div>
  </div>
  <div class="form-container frmyr">
  <div class="frmitem" >
  <label >Attachments</label>
  <input placeholder="Add+" type="text" class="input" name="attx1"/>
  </div>
  </div>
  <div class="form-container gridrow1">
  <div class="delbtn"></div>
  </div>
  </div>
  <div class="qualigrid">
  <div class="form-container frmqua">
  <div class="frmitem" >
  <label >Qualification</label>
  <input type="text" placeholder="Enter Qualification" class="input" name="qualix2" />
  </div>
  </div>
  <div class="form-container frmins">
  <div class="frmitem" >
  <label >Institution</label>
  <input type="text" placeholder="Enter Institution name" class="input" name="instix2" />
  </div>
  </div>
  <div class="form-container frmyr">
  <div class="frmitem" >
  <label >Year Obtained</label>
  <input placeholder="Enter year" type="text" class="input" name="yobtx2" />
  </div>
  </div>
  <div class="form-container frmyr">
  <div class="frmitem" >
  <label >Attachments</label>
  <input placeholder="Add+" type="text" class="input" name="attx2"/>
  </div>
  </div>
  <div class="form-container gridrow1">
  <div class="delbtn"></div>
  </div>
  </div>
          <div class="addItem" id="addItem">+</div>
      </form>
{% endblock %}