{% block hobbies %}
 <form class="frm hide">
          <div class="frmlabels"> Hobbies details</div>
          
          <div class="form-container">
            <div class="frmitem" >
              <label for="hobbi1">Hobby</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                name="hobbi1"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="hobbi2">Hobby</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                name="hobbi2"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="hobbi3">Hobby</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                name="hobbi3"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="hobbi4">Hobby</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                name="hobbi4"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="hobbi5">Hobby</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                name="hobbi5"      
              />
            </div>
            
          </div>
      </form>
{% endblock %}