{% block referals %}
  <form class="frm hide">
          <div class="frmlabels"> Referrals</div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="refa1">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input refz"
                id="refa1"
              
              />
            </div>

          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="refa2">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input refz"
                id="refa2"
              
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="refa3">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input refz"
                id="refa3"
              
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="refa4">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input refz"
                id="refa4"
              
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="Referral5">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input  refz"
                id="refa5"
              
              />
            </div>
            
          </div>
          
      </form>
{% endblock %}