{% block referals %}
  <form class="frm hide">
          <div class="frmlabels"> Referrals</div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="Referal1">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input"
                id="Referal1"
              
              />
            </div>

          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="Referal2">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input"
                id="Referal2"
              
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="Referal3">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input"
                id="Referal3"
              
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="Referal4">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input"
                id="Referal4"
              
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="Referral5">Referral</label>
              <input
                type="text"
                placeholder="Enter referral e.g Mr TM Mamaila // Principal // 627Cooperations // 082095000000"
                class="input"
                id="Referal5"
              
              />
            </div>
            
          </div>
          
      </form>
{% endblock %}