{% block sidemenu %}
 	 <div class="sidemenu">
    
          
        <aside class="sidebar">
			<h3>Details</h3>
			
			<nav class="menu">
                <a class="langs hide" id="langs">{{langs}} </a>	
                <a class="langs hide" id="skil">{{skil}} </a>	
                <a class="langs hide" id="hobs">{{hobs}} </a>	
                <a class="langs hide" id="cellno">{{cellno}} </a>	
                <a class="langs hide" id="email">{{email}} </a>	
                
		    <button class="btn activateu" id="pers">Personal</button>
         <button class="btn activateu" id="dri"> Driving</button>
            <button class="btn activateu" id="aca">Academics</button>
            <button class="btn activateu" id="wor">Work</button>
            <button class="btn activateu" id="ski">Skills</button>
            <button class="btn activateu" id="hob">Hobbies</button>
            <button class="btn activateu" id="ref">Referrals</button>
            <div></div>
            <button class="btn activateu" id="ref">Wards</button>
             <div></div>
            <button class="btn activateuSave" id="btnsave"  onclick="openModal()">Save</button>
         
			</nav>

		</aside>
        </div>
        <div class="content-larger">
            <div id="optionlist" class="hide">
              languages
              <div id="loptions"></div>          
              <div></div>
        
            </div>
{% endblock %}