{% block skills %}
<form class="frm hide">
          <div class="frmlabels"> skills details</div>
          
          <div class="form-container skilldata">
            <div class="frmitem" >
              <label for="skilli1">skill</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input skilz"
                name="skilli1"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="skilli2">skill</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input skilz"
                name="skilli2"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="skilli3">skill</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input skilz"
                name="skilli3"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="skilli4">skill</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input skilz"
                name="skilli4"      
              />
            </div>
            
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="skilli5">skill</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input skilz"
                name="skilli5"      
              />
            </div>
            
          </div>
      </form>{% endblock %}