{% block works %}
<form class="frm hide">
          <div class="frmlabels"> Work details</div>
          <div id="maingridemp">
                    
            <div class="empingrid">
  <div class="form-container frmqua">
  <div class="frmitem" >
  <label >Employer</label>
  <input type="text" placeholder="Enter Employer/Company" class="input" name="empix1" />
  </div>
  </div>
  <div class="form-container frmins">
  <div class="frmitem" >
  <label >Institution</label>
  <input type="text" placeholder="Enter Job title name" class="input" name="jobtit1" />
  </div>
  </div>
 <div class="form-container">
  <div class="frmitem" >
  <label class="datelab">To...</label>
  <div class="datething"><input type="date" class="datepic2" id="datepicker2" style="visibility: hidden; position: absolute;"><label class="labdate2"
   for="datepicker2" onclick="document.getElementById('datepicker2').showPicker();">Date</label></div>
  </div> 
  </div>
  <div class="form-container">
  <div class="frmitem" >
  <label class="datelab">From...</label>
  <div class="datething"><input type="date" class="datepic1" id="datepicker1" style="visibility: hidden; position: absolute;">
  <label class="labdate1" for="datepicker1" onclick="document.getElementById('datepicker1').showPicker();">Date</label>
  </div>
  </div>
  </div>
  <div class="form-container frmitem empresprow1">
  <label >Job responsibilities</label>
  <input type="text" placeholder="Enter Job responsibilities separated by a double foward slash //" class="input" name="jobtitle1"/>
  </div>  
  <div class="form-container gridrow1">
   <div class="delbtn"></div>
  </div>  
  </div>
          
          </div>
            <div id="maingridemp">
                    
            <div class="empingrid">
  <div class="form-container frmqua">
  <div class="frmitem" >
  <label >Employer</label>
  <input type="text" placeholder="Enter Employer/Company" class="input" name="empix1" />
  </div>
  </div>
  <div class="form-container frmins">
  <div class="frmitem" >
  <label >Institution</label>
  <input type="text" placeholder="Enter Job title name" class="input" name="jobtit1" />
  </div>
  </div>
 <div class="form-container">
  <div class="frmitem" >
  <label class="datelab">To...</label>
  <div class="datething"><input type="date" class="datepic2" id="datepicker22" style="visibility: hidden; position: absolute;"><label class="labdate2"'+
   for="datepicker2" onclick="document.getElementById('datepicker2').showPicker();">Date</label></div>
  </div> 
  </div>
  <div class="form-container">
  <div class="frmitem" >
  <label class="datelab">From...</label>
  <div class="datething"><input type="date" class="datepic1" id="datepicker11" style="visibility: hidden; position: absolute;">
  <label class="labdate1" for="datepicker1" onclick="document.getElementById('datepicker1').showPicker();">Date</label>
  </div>
  </div>
  </div>
  <div class="form-container frmitem empresprow1">
  <label >Job responsibilities</label>
  <input type="text" placeholder="Enter Job responsibilities separated by a double foward slash //" class="input" name="jobtitle1"/>
  </div>  
  <div class="form-container gridrow1">
   <div class="delbtn"></div>
  </div>  
  </div>
          
          </div>

          <div class="addItem" id="addjobdet">+</div>
      </form>
    {% endblock %}