<!DOCTYPE html>
<html lang="en">
<head>
	<title>Flask Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
	
	 <link href="/static/css/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet">
	 <link rel='stylesheet' href='/static/styles/css1.css'>
</head>
<body>
	<header>
		<div>
		<div class="banner2">
			<div class="labeltop">
			
		<a class="labeltop" href="/logout">{{message}} </a>	
    {% if is_post %}
      
						<a class="labeltop" href="/logout">Logout</a>
				
           
        {% else %}
            
       

    {% endif %}
</div>
		</div>
        <div class="banner"></div>


		</div>
	</header>
{% block content %}{% endblock %}
	
    
</body>
</html>