{% extends 'base.html' %}
{% block content %}
<link rel='stylesheet' href='/static/styles/sidemenu.css'>
<link rel='stylesheet' href='/static/styles/sidebar.css'>
<link rel='stylesheet' href='/static/styles/btn.css'>
<div class="supermain">
  <div class="maingrid">
    <div class="header">PAR...popi-Activated Resume</div>
        {% include 'cvtemps/sidemenu.html' %}
        {% include 'cvtemps/personal.html' %}
        {% include 'cvtemps/driving.html' %}
        {% include 'cvtemps/academics.html' %}
        {% include 'cvtemps/works.html' %}
        {% include 'cvtemps/skills.html' %}
        {% include 'cvtemps/hobbies.html' %}
        {% include 'cvtemps/referals.html' %}          
    </div>
    </div><div class="ffg">
      <div class="bigImage" style='--imgsrc:url("/static/images/pro4.png")'> </div>
      <div class="bigImage" style='--imgsrc:url("/static/images/pro1.png")'></div>
      <div class="bigImage" style='--imgsrc:url("/static/images/pro2.png")'></div>
      <div class="bigImage" style='--imgsrc:url("/static/images/pro3.png")'></div>
      <div >
    </div>
  </div>
</div>


<script src="{{ url_for('static', filename='js/frmstp.js')}}"></script>
	
{% endblock %}
            </div>
