{% extends 'base.html' %}
{% block content %}

<div class="maingrid">
  
	<div class="header">PAR...popi-Activated Resume</div>
   	<div class="sidemenu">
       <div class="divlab"><Label class="labels" >Details</Label></div>
       <a class="langs hide" id="langs">{{langs}} </a>	
          <button class="btn activateu" id="pers">Personal</button>
          <button class="btn activateu" id="dri">Driving</button>
          <button class="btn activateu" id="aca">Academics</button>
          <button class="btn activateu" id="wor">Work</button>
          <button class="btn activateu" id="ski">Skills</button>
          <button class="btn activateu" id="hob">Hobbies</button>
          <button class="btn activateu" id="ref">Referrals</button>
          <div></div>
          <button class="btn activateu" id="ref">Wards</button>
           
       
    </div>
    	<div class="content-larger">
        <div id="optionlist" class="hide">
          languages
          <div id="loptions">               
          </div>
          
        <div>

            
          </div></div>
       <form class="frm">
         <div class="frmlabels"> Personal details</div>
          <div class="form-container">
            <div class="frmitem" >
              
              <label for="first-name">First Name(s)</label>
              <input
                type="text"
                placeholder="Enter your first names"
                class="input"
               name="fname"
              />
            </div>
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">Surname</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                name="sname"
              />
            </div>
          </div>
          <div class="form-container">
          <div class="frmitem" >
              <label for="first-name">ID Number</label>
              <input
                placeholder="Enter your ID Number"
                type="text"
                class="input"
                name="idno"
              />
          </div>
        </div>
        
          <div class="form-container">
          <div class="frmitem" >
              <label for="first-name">Home Language</label>
              <input
                placeholder="Enter your Home Language"
                type="text"
                class="input input-lang"
                id="h-lang"
                name="hlang"
              />
                
              
          </div>
          
        </div>
         <div class="form-container">
          <div class="frmitem" >
              <label for="first-name">Other Language</label>
              <input
                placeholder="Enter your Home Language"
                type="text"
                class="input input-lang"
                id="h-lang2"
                name="hlang2"
              />
                
              
          </div>
          
        </div>
        <div class="form-container">
          <div class="frmitem" >
              <label id="langcnt" for="first-name">Rate Languages(0)</label>
              <div id="rate-lang-block">
              
              </div>
          </div>
          
        </div>
        <div class="form-container">
          <div class="frmitem" >
              <label for="first-name">Employment Status</label>
            
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    Are you employed?
                  </option>
                  <option value="">
                    Yes
                  </option>
                  <option value="">
                    No
                  </option>
                
                </select>
              
          </div>
          
        </div>
         <div class="form-container">
          <div class="frmitem" >
              <label for="first-name">Are you a bread winner?</label>
             
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    Is your family depending on you?
                  </option>
                  <option value="">
                    Yes
                  </option>
                  <option value="">
                    No
                  </option>
                  
                </select>
              
          </div>
          
        </div>
        <div class="form-container">
          <div class="frmitem" >
              <label for="first-name">Average Household income?</label>
             
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    What is your average Household income?
                  </option>
                  <option value="">
                    < R 15000.00
                  </option>
                  <option value="">
                    < R 3000.00
                  </option>
                  <option value="">
                    < R 4500.00
                  </option>
                  <option value="">
                    > R 5000.00
                  </option>
                  <option value="">
                    I'd rather not say
                  </option>
                </select>
              
          </div>
          
        </div>
      </form>
       <form class="frm hide">
          <div class="frmlabels"> Driving details</div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">Licence</label>
             <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    Select your driving code?
                  </option>
                  <option value="">
                    A
                  </option>
                  <option value="">
                    A1
                  </option>
                  <option value="">
                    B
                  </option>
                  <option value="">
                    C
                  </option>
                  <option value="">
                    C1
                  </option>
                  <option value="">
                    EB
                  </option>
                  <option value="">
                    EC
                  </option>
                  <option value="">
                    EC1
                  </option>
                  
                </select>
            </div>
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">Driving experience</label>
              <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    How many years?
                  </option>
                  <option value="">
                    < 5 years
                  </option>
                  <option value="">
                    > 5 years
                  </option>
                  <option value="">
                    > 10 years
                  </option>
                </select>
            </div>
          </div>
      </form>
      <form class="frm hide">
          <div class="frmlabels"> Academics details </div>
          <div id="maingridview">
          </div>
        <div class="addItem" id="addItem">+</div>
      </form>
      <form class="frm hide">
          <div class="frmlabels"> Work details</div>
          <div id="maingridemp">
              <div class="empligrid">
                    <div class="form-container">
                      <div class="frmitem" >
                        <label >Employer</label>
                        <input type="text" placeholder="Enter Employer/Company name" class="input" name="employ"/>
                      </div>
                    </div>
                    <div class="form-container">
                      <div class="frmitem" >
                        <label >Job Title/Post</label><input type="text" placeholder="Enter Job title" class="input" name="jobtit"/>
                      </div>
                    </div>
                    <div class="form-container">
                      <div class="frmitem" >
                            <label class="datelab">From...</label>
                            <div class="datething"><input type="date" class="datepic1" id="datepicker1" style="visibility: hidden; position: absolute;"> 
                              <label class='labdate1' for="datepicker1" onclick="document.getElementById('datepicker1').showPicker();">Get_Date</label>
                            </div>
                          </div>            
                    </div>
                    <div class="form-container">
                      <div class="frmitem" >
                          <label class="datelab">To...</label>
                          <div class="datething"><input type="date" class="datepic2" id="datepicker2" style="visibility: hidden; position: absolute;"><label class='labdate2' for="datepicker2" onclick="document.getElementById('datepicker2').showPicker();">Get Date</label></div>
                      </div>            
                    </div>
                    <div class="form-container frmitem jopresp">
                          <label >Job responsibilities</label>
                          <input type="text" placeholder="Enter Job responsibilities separated by a double foward slash '//'" class="input" name="jobtitle"/>
                    </div>
                    <div class="form-container gridrow1x">
                        <div class="frmitemXemp" >
                          remove
                        </div>
                    </div> 
              </div>
          </div>
          <div class="addItem" id="addjobdet">+</div>
      </form>
      <form class="frm hide">
          <div class="frmlabels"> Skills</div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">First Name(s)</label>
              <input
                type="text"
                placeholder="Enter your first names"
                class="input"
                
              />
            </div>
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">Surname</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
                
              />
            </div>
          </div>
      </form>
      <form class="frm hide">
          <div class="frmlabels"> Hobbies details</div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">First Name(s)</label>
              <input
                type="text"
                placeholder="Enter your first names"
                class="input"
              
              />
            </div>
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">Surname</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
              
              />
            </div>
          </div>
      </form>
      <form class="frm hide">
          <div class="frmlabels"> Referals</div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">First Name(s)</label>
              <input
                type="text"
                placeholder="Enter your first names"
                class="input"
              
              />
            </div>
          </div>
          <div class="form-container">
            <div class="frmitem" >
              <label for="first-name">Surname</label>
              <input
              placeholder="Enter your surname"
                type="text"
                class="input"
              
              />
            </div>
          </div>
      </form>
      </div>
       
      <div class="bigImage" style='--imgsrc:url("/static/images/pro4.png")'> </div>
      <div class="bigImage" style='--imgsrc:url("/static/images/pro1.png")'></div>
      <div class="bigImage" style='--imgsrc:url("/static/images/pro2.png")'></div>
      <div class="bigImage" style='--imgsrc:url("/static/images/pro3.png")'></div>
      <div ></div>
     

</div>



<script src="{{ url_for('static', filename='js/frmstp.js')}}"></script>
	
{% endblock %}