{% extends 'base.html' %}
{% block content %}

<link rel='stylesheet' href='/static/styles/btn.css'>
<div class="supermain">
  <div class="maingrid">
    <div class="header">PAR...popi-Activated Resume</div>
        {% include 'cvtemps/sidemenu.html' %}
        {% include 'cvtemps/personal.html' %}
        {% include 'cvtemps/driving.html' %}
        {% include 'cvtemps/academics.html' %}
        {% include 'cvtemps/works.html' %}
        {% include 'cvtemps/skills.html' %}
        {% include 'cvtemps/hobbies.html' %}
        {% include 'cvtemps/referals.html' %}          
    </div>
   
  </div>
</div>
<!-- Button to trigger -->


<!-- Bootstrap Modal -->
<div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="summaryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="summaryModalLabel">Confirm Your Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre id="modalSummaryText" class="summary-text"></pre>
      </div>
      <div class="modal-footer">
        <button onclick="downloadSummary()" class="btn btn-secondary">⬇ Download JSON</button>
        <button onclick="printSummary()" class="btn btn-secondary">🖨️ Print</button>
        <button onclick="confirmSubmit()" class="btn btn-success">✅ Confirm & Submit</button>
        <button class="btn btn-danger" data-bs-dismiss="modal">❌ Cancel</button>
      </div>
    </div>
  </div>
</div>



<script src="{{ url_for('static', filename='js/frmstp.js')}}"></script>
<script src="{{ url_for('static', filename='js/ajaxifyr.js')}}"></script>
<!-- Bootstrap Modal (ensure Bootstrap CSS & JS included) -->


{% endblock %}
            </div>
